
<!-- new nev -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">
      <img src="https://play-lh.googleusercontent.com/di6Z4oj41mSVJAgW755G4Ng25YGgGOoxcWdVnpjzlnzQ1htfy6-6I4gW3QDh_KDZGGLV" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      EdeStar
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

          <a class="nav-link active" aria-current="page" href="/admin">Home</a>        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/content">All Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/add-vid">Add Content</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/admin/add">Add Admin</a>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Students
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/alluser">All Students</a></li>
            <li><a class="dropdown-item" href="/admin/student">Add Students</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      
      
      <a href="/admin/profil/<%=adminUser.username%>" class="btn"><%=adminUser.name%></a>
      
      <a href="/admin/logout" class="btn btn-dark">Logout</a>
    </div>
  </div>
</nav>