<footer>
    <div class="f-info">
        <div class="f-info-socal">
            <a href="facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <i class="fa-brands fa-square-instagram"></i>
            <a href="x.com"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div>&copy;<h5>Made With ❤️ by Saroj Kumar</h5></div>
        <div class="f-info-link">
            <a href="privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>