<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://play-lh.googleusercontent.com/di6Z4oj41mSVJAgW755G4Ng25YGgGOoxcWdVnpjzlnzQ1htfy6-6I4gW3QDh_KDZGGLV" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      EdeStar
    </a>
  </div>
</nav>