
<!-- new nev -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://play-lh.googleusercontent.com/di6Z4oj41mSVJAgW755G4Ng25YGgGOoxcWdVnpjzlnzQ1htfy6-6I4gW3QDh_KDZGGLV" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      EduStar
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

          <a class="nav-link active" aria-current="page" href="/">Home</a></li> 
      </ul>
      
      
      <a href="/Profile/<%=stu.username%>" class="btn"> <i class="fa-regular fa-circle-user"></i></a>
      
      <a href="/logout" class="btn btn-dark">Logout</a>
    </div>
  </div>
</nav>