<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="background.css">
    <title>Add Content</title>
</head>
<body>
    <form method="POST" action="/admin/content">
  <input type="text" name="title" placeholder="Title" required />
  <input type="text" name="link" placeholder="Video Link" required />
  <input type="number" name="index" placeholder="Video Index" required />
  <textarea name="Dis" placeholder="Description"></textarea>
  <button type="submit">Add Video</button>
</form>

    
</body>
</html>