<%layout("/layout/adminBoiler.ejs")%>
    <form method="POST" action="/admin/content">
      <label for="title"class="form-label" >Title</label>
  <input type="text" name="title" placeholder="Title" required class="form-control"/>
  <label for="link"class="form-label" >Video Link</label>
  <input type="text" name="link" placeholder="Video Link" required class="form-control"/>
  <label for="index"class="form-label" >Video Index</label>
  <input type="number" name="index" placeholder="Video Index" required class="form-control"/>
  <label for="Dis"class="form-label" >Description</label>
  <textarea name="Dis" placeholder="Description"class="form-control"></textarea>
  <label for="createdAt"class="form-label" >Date & Time</label>
  <input type="text" value="<%= new Date().toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' }) %>" disabled class="form-control"/>
  <br>
  <button type="submit" class="btn btn-outline-primary offset-2">Add Video</button>
</form>

    
