<%layout("/layout/adminBoiler.ejs")%>
    <h5>Admin:- <%=adminUser.username%></h5> <a href="/admin/add">Add Content</a>
            <div>
        <table>
            <caption>All Content Of C++</caption>
            <thead><tr>
                <th>Title</th>
                <th>Edit</th>
            </tr></thead>
            <tbody>
                <%for(let tit of allData){%>
                    <tr>
                        <th><a href="/admin/detail/<%=tit.id%>"><%=tit.title%></a></th>
                        <th><a href="/admin/edit/<%=tit.id%>">Edit</a></th>
                        
                    </tr>
                    
                    <%}%>
            </tbody>
        </table>
        
        
    </div>
    
