<%layout("/layout/adminBoiler.ejs")%>
    <div>
        <table>
            
            <thead><tr>
                <th>Username</th>
                <th>Mobile No</th>
            </tr></thead>
            <tbody>
        
            <%for(user of request){%>
                
                 <tr>
                        <th><a href="/admin/user/request/<%=user.id%>"><%=user.username%></a></th>
                        <th><a href="/admin/user/request/<%=user.id%>"><%=user.mob%></a></th>
                        
                    </tr>
                
                
                <%}%>
                </tbody>
        
        </table>
        
    </div>