<%layout("/layout/boilerplate.ejs")%>
    <h2>Welcome <%=student.name%></h2>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sl-1">
        <%for(let tit of allData){%>
            <a href="/play/<%=tit.id%>">
        <div class="card" style="width: 18rem;">
  <img src="https://play-lh.googleusercontent.com/di6Z4oj41mSVJAgW755G4Ng25YGgGOoxcWdVnpjzlnzQ1htfy6-6I4gW3QDh_KDZGGLV" class="card-img-top" alt="C++">
  <div class="card-body">
    <h5 class="card-title"><%=tit.title%></h5>
    
    
  </div>
</div>
</a>
<%}%>
</div>
<br>
<a href="/logout" class="btn btn-dark">Logout</a>
<br>

    
    
    
