<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="background.css">
    <link rel="stylesheet" href="index.css">
    <title>DSA</title>
</head>
<body>
    <h2>Welcome <%=student.name%></h2>
    <section>
        <div>
        
        <h1>All Content</h1>
        <ol>
            <%for(let tit of allData){%>
            <li><a href="/play/<%=tit.id%>"><%=tit.title%></a></li>
            <%}%>
        </ol>
    </div>
    
    </section>
    <footer>
        <h5>Made With ❤️ by Saroj Kumar</h5>

    </footer>
</body>
</html>