<%layout("/layout/boilerplate.ejs")%>

    <div class="mt-5 row">
        <div class="col-3 offset-2">
    <form method="post" action="admin">
        <div>
            <label for="username" class="form-label">Username</label>
        <input name="username" class="form-control" type="text" placeholder="Username">
        </div>
        <br>
        <div>
            <label for="pass" class="form-label">Password</label>
        <input name="pass" class="form-control" type="password" placeholder="Password">
        </div>
        <br>
         <button type="submit" class="btn btn-dark offset-2">Login</button>
    </form>
    </div>
    </div>