<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="background.css">
    <title>Admin Login</title>
</head>
<body>

<!-- Login Form -->
<form action="/admin" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="text" name="pass" placeholder="Password" required>
    <button type="submit">Login</button>
</form>




    
</body>
</html>