<%layout("/layout/boilerplate.ejs")%>
    <div class="card mb-3">
  
          <iframe class="card-img-top" alt="C++" width="560" height="615" src="<%=detail.link%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  <div class="card-body">
    <h5 class="card-title"><%= detail.title%></h5>
    <p class="card-text"><%=detail.Dis%>.</p>
    
  </div>
  </div>



 
    
