body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white !important;
}
.dropdown-menu,.collapse{
    background-color: white;

}
/* footer */
.nav-link{
    color: #0e0c0c !important;
}
.f-info-link a{
    text-decoration: none;
    color: black;
    
}
.f-info-link a:hover{
    text-decoration: underline;
    
    
}
.f-info-link{
    width: 100%;
}
.f-info-socal{
    width: 100%;
    font-size: 1.5rem;
    
}
.f-info-socal i {
    margin-right: 1rem;
}
.f-info {
    text-align: center;
    height: 8rem;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.row a{
    text-decoration: none;
}
a {
    text-decoration: none;
}